<html>
<head>
    <title>Onto ICD-10</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
{% block content %}{% endblock %}
<p class="search">Проект выполнен при поддержке гранта <a href="https://www.infoculture.ru/">АНО "Информационная
    культура"</a></p>
</body>
</html>
